.side-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

.sideNav {
  max-width: 300px;
  width: 300px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.95);
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 20px;
}

.side-head {
  display: flex;
  height: 60px;
  width: 100%;
}

.side-head img {
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .sideNav {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
